/*CSS GERAL*/
* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.paragrafo {
    text-align: justify;
    text-indent: 40px;
    font-size: 25px;
}

.borda-hidden {
    border-radius: 10px;
    overflow: hidden;
}

.AnularMargem {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.RemoverNegrito {
    font-weight: lighter;
}

.FlexSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FlexSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FlexColumnSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* a, a:visited {
    color: black;
    text-decoration: none;
}
/* Classes secundarias acima, para melhor localizaçao usar daqui para baixo*/

.site {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    border: 2px solid rgb(0, 0, 0);
}

.Header {
    height: 150px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
}

.Botoes-Principais div {
    border: 2px solid black;
    text-align: center;
    width: 33.33%;
    margin: 5px;
    padding: 10px;
    background-color: #008cff93;
    cursor: pointer;
    overflow: auto;
}

.Menu-Conteudo {
    border: 1px solid rgb(0, 0, 0);
}

.Menu {
    width: 20%;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: #008cff93;
    overflow: auto;
}

.Menu-texto {
    height: auto;
    overflow: auto;
}

.menu-texto-links {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.Conteudo {
    width: 80%;
    height: 600px;
    overflow-y: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    
} 

.Voltar {
    border: 2px solid rgb(0, 0, 0);
    position: sticky;
    margin: 0 auto;
    padding-left: 5vh;
    padding-right: 5vh;
}

.Footer {
    height: 150px;
    border: 3px solid black;
    background-color: #63c44f;
    overflow: auto;
}

.Botoes-Footer div {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

.form {
    text-align: center;
}
/*FIM CSS GERAL*/

/*CSS TABELA*/
.centro {
    text-align: center;
    font-size: xx-large;
}

tr, th {
    background-color: #ffffff;
    border:3px solid gray;
    padding: 0px 30px
}

.espaco {
    border-spacing: 7px;
}
/*FIM CSS TABELA*/

/*CSS DO FORMULARIO*/
.evento {
    background-color: #008cff93;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    width: 700px;
    padding: 5px;
}

hr {
    background-color: black;
}

#cidade {
    width: 340px;
    margin-left: 29px;
}

#rua {
    width: 340px;
}

#ensino {
    width: 340px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#btnGravar, #btnLimpar {
    width: 250px;
    border: solid #E9EDF1;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
}

input[type="text"] {
    margin-left: 15px;
    border: solid #E9EDF1;
    border-radius: 5px;
}
/*FIM DO CSS DO FORMULARIO*/